.add-box {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	margin: 0 auto;
	width: 87%;
	
}
.create{
	margin: 0 auto;
	width: 88%;
	margin-bottom: 10px;
}

.main-container{
	margin: 0 auto;
	width: 77%;
	text-decoration: none;
	justify-content: space-evenly;
}

.container1{
	margin: 0 auto;
	width: 87%;
}