.edit-box {
	padding: 30px;
	border-radius: 5px;
	/* margin: 0 auto; */
	border: 1px solid black;
	width: 60%;
}

/* .top-link{
	text-decoration: none;
	margin: 0 auto;
	width: 70%;
} */

/* .div1{
	
}
.div2{

} */