.main-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
	margin: 0 auto;
	text-decoration: none;
}

.search-box input {
	padding: 5px;
	width: 250px;
	border-radius: 25px;
}
